@charset "UTF-8";
html {font-size: 15px;scroll-behavior: smooth;}
body {font-family: 'Open Sans', sans-serif;color: #111111;margin: 0 !important; padding: 0 !important;}
body.black{width: 100vw;height: 100vh;background: #222;color: white;flex-direction: column;}
hr.dark{background-color: transparent;height: 0;border: none;border-bottom: 1px solid rgba(255,255,255,0.08);border-top: 1px solid rgba(0,0,0,0.9);margin:15px 0px;clear: both;}
hr.white{background-color: transparent;height: 0;border: none;border-bottom: 1px solid rgba(255,255,255,0.6);border-top: 1px solid rgba(0,0,0,0.1);margin:15px 0px;clear: both;}
input:focus{ outline:0;}
button:focus{outline:0;}
a{text-decoration: none !important;content: ""}
input{cursor: text;}
button{cursor: pointer;}
footer{padding: 15px 10px;}
.pFixed{position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.d-n{display: none;}
.m0{margin: 0;}
.p0{padding: 0;}
.w100{width: 100%;}
/*--------------------------------------------------------------------------*/

.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: calc(50% - 204px);
    width: 400px;
    background: #222;
    color: white;
    padding: 4px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 1px 4px black;
}
.header ol{
display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header li{
    margin: auto;
    font-size: 220%;cursor: pointer;transition: all .3s;display: flex;
    flex-direction: column;
}
.header li:hover{transform: scale(1.5);}
.header li span{font-size: 15px;
    margin-top: -10px;
}

.encabezado-home{
background: url(../img/fondo-home.jpg) top center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
}
.encabezado-home .content{
    background: #111111c9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado-home .content > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.encabezado-home .content h1{
font-size: 300%;
    margin-top: auto;
}
.encabezado-home .content p{
width: 80%;
    text-align: center;margin: 0px auto;
}
.encabezado-home .content .bajar{
margin: auto;
    font-size: 200%;
    color: white;
}
.encabezado-home .logo{

}

#section-1{
    margin: 30px 0px;
}
#section-1 .row > div{
        display: flex;
    flex-direction: column;
}
#section-1 .row > div img{
        width: 80%;
    margin: auto;
}
#section-1 .row > div h3{
    border-bottom: 2px #6c757d solid;
    padding-bottom: 10px;
    text-align: center;
}


.link_ext{
    background: url(../img/fondo-home.jpg) top center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin: 50px 0px;
    padding: 50px 20px;
}

.link_ext .col-12{

}
.link_ext .col-12 > div{
    display: flex;
    min-height: 150px;
    margin: 10px;
    border: 1px #6c757d solid;
    border-radius: 7px;
    box-shadow: 1px 1px 5px;
    background: #495057c4;
    padding: 5px;
}
.link_ext .col-12 > div img{
    width: 100px;
    margin: 10px;
}






@media (min-width: 768px){
.encabezado-home .content {flex-direction: row;}

.link_ext{padding: 50px 20px;}

}


@media (min-width: 1024px){
.encabezado-home .content h1 {font-size: 400%;}
.encabezado-home .content p {width: 80%;font-size: 120%;}
.encabezado-home .logo {width: 500px;height: 500px;}
.encabezado-home .content .bajar {font-size: 350%;}

#section-1 .row > div img {width: 80%;}
#section-1 .row > div h3 {font-size: 240%;}
#section-1 .row > div p {font-size: 110%;}

.link_ext{padding: 70px 40px;}
.link_ext .col-12 > div img {width: 130px;}
.link_ext .col-12 > div {min-height: 200px;}


}


@media (min-width: 1440px){
    .link_ext .col-12 > div {min-height: 150px;}
}

