@charset "UTF-8";
html {font-size: 15px;scroll-behavior: smooth;}
body {font-family: 'Open Sans', sans-serif;color: #111111;margin: 0 !important; padding: 0 !important;}
body.black{width: 100vw;height: 100vh;background: #2f313f;color: white;flex-direction: column;}
hr.dark{background-color: transparent;height: 0;border: none;border-bottom: 1px solid rgba(255,255,255,0.08);border-top: 1px solid rgba(0,0,0,0.9);margin:15px 0px;clear: both;}
hr.white{background-color: transparent;height: 0;border: none;border-bottom: 1px solid rgba(255,255,255,0.6);border-top: 1px solid rgba(0,0,0,0.1);margin:15px 0px;clear: both;}
input:focus{ outline:0;}
button:focus{outline:0;}
a{text-decoration: none !important;content: ""}
input{cursor: text;}
button{cursor: pointer;}
footer{padding: 15px 10px;}
.pFixed{position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.d-n{display: none;}
.m0{margin: 0;}
.p0{padding: 0;}
.w100{width: 100%;}
.ol{list-style: none;padding: 0;margin: 0;}
/*--------------------------------------------------------------------------*/

/**{border: 1px red solid;}*/

.body{
background: url(../img/fondo-home.jpg) no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    color: white;
}
nav{
	position: fixed;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 100vh;
    place-self: stretch;
    background: var(--background);
    backdrop-filter: blur(1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 250%;
    border-radius: 7px;
}

nav ol{
    padding: 0;
    margin: auto;
    list-style: none;
}
nav ol li{display: flex;
}
nav ol li a{    color: white;
    margin: auto;
}
.body > .content-body{
    min-height: 100vh;
    width: 94%;
    padding-left: 80px;
}

.header{
height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header h1{
margin-top: auto;
}
.header p{

}
.header .container{
    margin: auto;
}
.header .container img{

}

.section-1{padding: 20px;}
.section-1 .row{backdrop-filter: blur(1.5rem);border: 1px #081b2a87 solid;border-radius: 7px;box-shadow: 1px 1px 2px black;}
.section-1 .row > div{padding: 30px;display: flex;flex-direction: column;}

.section-1 .row .tarjet{position: relative;
    margin: auto;
    width: 220px;
    height: 300px;
}
.section-1 .row .tarjet::after{
	content: "";
    background: #f321f2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom left;
    transform: rotate(-6deg) translateY(15px);
    border-radius: 7px;
}
.section-1 .row .tarjet::before{
	content: "";
    background: #2196F3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom right;
    transform: rotate(6deg) translateY(15px);
    border-radius: 7px;
	
}
.section-1 .row .tarjet img{
	    width: 100%;
    height: 100%;
    border-radius: 7px;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
}


.section-2{padding: 10px;}
.section-2 ol{list-style: none;padding: 0;margin: 0;}
.section-2 .item{
	background: var(--background);
    backdrop-filter: blur(1.5rem);
    margin: 35px 12px;
    border-radius: 7px;
    position: relative;
    padding: 25px;
    box-shadow: 0px 0px 5px black;
}
.section-2 .item h2{
    position: absolute;
    background: #00bcd4;
    top: -10px;
    margin: 0;
    padding: 0px 10px;
    border-radius: 5px;
    color: black;
}
.section-2 .item img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
}
.section-2 .item span{
	display: none;
}
.section-2 .item.right{
    padding-left: 80px;text-align: left;
}
.section-2 .item.left{
    padding-right: 80px;text-align: right;
}
.section-2 .item.right h2{
    left: 40px;
}
.section-2 .item.left h2{
    right: 40px;
}
.section-2 .item.right img{
    left: -30px;
    transform: rotate(-20deg);
}
.section-2 .item.left img{
    right: -30px;
    transform: rotate(20deg);
}


/*--------------- skills ---------------------*/
.skills{
    
}.skills li{
    width: 100%;
    margin: 11px;
    background: var(--background);
    backdrop-filter: blur(1.5rem);
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    align-items: center;
    border-radius: 7px;
}.skills li img{
        margin: 0px 10px;
}
.skills .right li{
    flex-direction: row-reverse;
}
.skills .center-img{
    display: flex;
}
.skills .center-img{
    margin: auto;
}



.redes-sociales{
	    margin: 35px;
}
.redes-sociales ol{
	    transform-origin: 4000px;
    perspective-origin: 300px;
}
.redes-sociales li{
	background: var(--background);
    backdrop-filter: blur(1.5rem);
    padding: 5px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px black;
    transform: rotateZ(-15deg);
    cursor: pointer;    width: 220px;
}
.redes-sociales li a{
	    color: white;
    font-size: 200%;
}
.redes-sociales li a img{
	
}










